*.sqlite3
r.txt
db.sqlite3
venv
.idea
__pycache__
*.pyc
.env
.env.example
compose.yml
Dockerfile
.gitignore
.git
README.md
prod_build.sh
local_build.sh
Dockerfile_local_M3

scripts/dfdc_train_part_0
scripts/selected_videos
scripts/missing_files.log
scripts/selected_videos.zip
t.py

.DS_Store
